.settings-container {
  padding-left: 10%;
  padding-right: 10%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.settings-container mat-form-field {
  width: 220px;
}

.settings-container form {
  margin-bottom: 20px;
}

.settings-container form > * {
  margin: 12px 0;
}

.settings-container .mat-radio-button {
  margin: 0 12px;
}

.settings-row {
  display: flex;
  align-items: flex-start;
}
